.App-AddBeer {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.addBeer-form {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.addBeer-form input {
  width: 30vw;
  height: 30px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(238, 238, 230, 0.856);
}

.addBeer-form textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(238, 238, 230, 0.856);
}

.addBeer-container {
  width: 50vw;
  margin: 0 auto;
}


.submit-btn {
  width: 5vw;
  background-color: green;
}



