.App-AllBeers {
  /* height: 95vh; */
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.App-AllBeers h2 {
  font-size: 3rem;
  margin: 0;
  padding: 1rem 2rem;
  color: rgb(146, 95, 1);
  text-shadow: 2px 6px #00000083;
  cursor: default;
  user-select: none;
}

.beerBox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
