
.beerBox {
  border: 1px solid black;
  width: 20%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(155, 155, 145, 0.767);
  padding: 1rem 0;
  border-radius: 3px;
}

.beerBox img {
  max-height: 200px;
}

.beerBox h3 {
  margin: 0 0.4rem;
  font-size: 1.4rem;
  color: rgba(83, 37, 5, 0.911);  
}

.beerBox h4 {
  margin: 0.8rem;
}

.beerBox p {
  margin: 0.5rem;
}

.beerBox a {
  margin: 0;
  padding: 0; 
  margin: 0.5rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: darkgreen;
  font-weight: 600;
  text-shadow: 1px 1px rgba(95, 95, 95, 0.356);
}

.App-nav a :visited {
  color: darkgreen;
}