
.beerBox {
  border: 1px solid black;
  width: 20%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(175, 175, 175, 0.801);
  padding: 1rem 0;
  border-radius: 3px;
}

.beerBox img {
  max-height: 200px;
}

.beerBox h3 {
  margin: 0 0.4rem;
  font-size: 1.4rem;
  color: rgba(83, 37, 5, 0.911);  
}

.beerBox h4 {
  margin: 0.8rem;
}

.beerBox p {
  margin: 0.5rem;
}