.App-BeerDetails {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  font-size: 1.4rem;
}

.detailsBox {
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: rgba(155, 155, 145, 0.767);
  border-radius: 20px;
  width: 40vw;
}

.detailsBox img {
  margin: 0 0 0 6rem;
}

.details-info {
  padding: 0 0 0 6rem;
}

.colored {
  color: darkgreen;
}