.App-Profile {
  height: 95vh;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.App-Profile h2 {
  font-size: 2rem;
  color: rgb(105, 68, 0); 
  margin-bottom: 2rem;
}

.user-container {
  background-color: rgba(155, 155, 145, 0.767);
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2rem;
}

.user-info p {
  text-align: left;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}